<launch>
  <node pkg="okada" name="face_detector" type="face_detector.py" output="screen">

    <remap from="input_rgb_image" to="/camera/rgb/image_raw" />
    
    <rosparam>
       haar_scaleFactor: 1.3
       haar_minNeighbors: 3
       haar_minSize: 60
       haar_maxSize: 150
    </rosparam>

        <param name="cascade_1" value="$(find okada)/data/haar_detectors/haarcascade_fullbody.xml" />
        <param name="cascade_2" value="$(find okada)/data/haar_detectors/haarcascade_lowerbody.xml" />
        <param name="cascade_3" value="$(find okada)/data/haar_detectors/haarcascade_upperbody.xml" />

  </node>
</launch>
